__pycache__/
*.pyc
.env
.DS_Store
venv/


# Security & Bloat Exclusions
.env
*.json
!package.json
!manifest.json
!tsconfig.json
*.pem
*.key
*.log
*.zip
*.tar
*.gz
node_modules/
venv/
target/
dist/
build/


# Security & Bloat Exclusions
.env
*.json
!package.json
!manifest.json
!tsconfig.json
!*.ipynb
*.pem
*.key
*.log
*.zip
*.tar
*.gz
node_modules/
venv/
target/
dist/
build/
